<!DOCTYPE html>
<html ng-app="myApp">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="app/appStyle.css">
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>


<body ng-controller="myCtrl">
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid pull-right">
        <div class="navbar-header">

            <button  class="btn btn-primary navbar-btn" ng-hide="register" ng-click="editdetail($event)">Edit</button>
            <button  class="btn btn-primary navbar-btn" ng-hide="register" ng-click="create($event)">Register a User</button>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-view></div>
</div>

</body>
<script type='text/javascript' src="app.js" charset="UTF-8"></script>
<script src="app/maincontroller.js"></script>
<script src="app/registerController.js"></script>
<script src="app/detailCtrl.js"></script>


</html>