<!DOCTYPE html>
<html ng-app="myApp">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="app/appStyle.css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>


<body ng-controller="myCtrl" id="background">


<div class="navbar navbar-default ">
    <div class="container-fluid headerImage">


        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="/app/images/taxiImage.jpg" style="height:50px;width:20px;">
        </div>
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse">
            <div class="pull-right">
                <button class="btn btn-primary" ng-hide="register" ng-click="deletedetail($event)">Delete</button>
                <span ng-show="displayBtn">
                <button class="btn btn-primary" ng-hide="register" ng-click="displaydetail($event)">Display</button>
                </span>
                <span ng-show="editBtn">
                <button  ng-show="editBtn" class="btn btn-primary" ng-hide="register" ng-click="editdetail($event)">Edit</button>
                </span>

                <button  class="btn btn-primary" ng-hide="register" ng-click="create($event)">Register a driver2</button>
            </span>
        </div>
    </div>
        <div>

        </div>
</div>
</div>


<div class="container" style="height:calc(100% - 60px);">
    <div ng-view style="height: 100%"></div>
</div>


</body>
<script type='text/javascript' src="app.js" charset="UTF-8"></script>
<script src="app/maincontroller.js"></script>
<script src="app/registerController.js"></script>
<script src="app/detailCtrl.js"></script>


</html>